@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(jura-regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body{
    font-family: Jura;
    margin: 30px 0 0 74px;
    color: #293955;
    background: linear-gradient(#D6DBE9, #fff);
    overflow: hidden;
    height: 600px;
}

/* titlebar */
#titlebar {
    -webkit-app-region: drag;
    top: 0;
    left: 0;
    position: absolute;
    color: #fff;
    background-color: #293955;
    width: 100%;
    height: 20px;
}
#titlebar .title-name{
    float: left;
    margin-left: 8px;
    font-size: 15px;
}
#titlebar .title-button{
    -webkit-app-region: no-drag;
    float: right;
    width: 24px;
    height: 20px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 4px;
}
#btnTitleMin:hover, #btnTitleMax:hover{
    background-color: #364E6F;
}
#btnTitleX:hover{
    background-color: #F04747;
}

/* sidebar */
#sidebar{
    top: 20px;
    left: 0;
    position: absolute;
    color: #fff;
    /* background-color: #293955; */
    background: linear-gradient(#293955, #364E6F);
    width: 64px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.sidebar-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.sidebar-btn:hover{
    background-color: #364E6F;
}

/* Page template */
.page-template{
    display: none;
}

/* Form */
.hand{
    cursor: pointer;
}
label{
    margin-bottom: 0;
}
.btn-normal{
    background-color: #364E6F;
}
.btn-normal:hover{
    background-color: #293955;
}
.nfo{
    width: 16px;
    height: 16px;
    background-image: url('../img/i.svg');
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 0 -2px 5px;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #555;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #364E6F;
  }

  input:checked + .slider:before {
    background-color: #fff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #364E6F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

/* Sizing */
.width-135{
    width: 135px;
}
.width-200{
    width: 200px;
}
.pad-top-6{
    padding-top: 6px;
}
.pad-left-7{
    padding-left: 7px;
}
.pad-left-100{
    padding-left: 100px;
}
.space-16{
    margin-top: 16px;
}

/* Logs */
#Logs{
    font-family: 'Consolas', 'Currier New';
    font-size: 11px;
    /* border: 1px solid rgba(41,57,85,0.5); */
    width: 100%;
    height: 200px;
    overflow: auto;
}

/* Scrollbar */
::-webkit-scrollbar
{
	width: 5px;
    background: transparent;
    cursor: pointer;
}
::-webkit-scrollbar-thumb
{
	border-radius: 2.5px;
    background: rgba(41,57,85,0.5);
    cursor: pointer;
}

.gallery-refresh{
    font-size: 18px;
    cursor: pointer;
}

#imgContainer{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}