<script type="text/html" id="gallery-template">
    <div class="container-fluid pad-left-7">
        <div class="row">
            <div class="col">
            <h3>Gallery&nbsp;
                <i onclick="refreshGallery_click()" class="fa fa-refresh gallery-refresh"></i>
            </h3>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
            <div id="imgContainer">
                <table id="tblImg">
                    <tr id="tblImgTop"></tr>
                </table>
            </div>
            </div>
        </div>
    
    </div>
</script>