<script type="text/html" id="titlebar-template">
    <div id="titlebar">
        <div class="title-name">Wallpapernator 2</div>
    
        <div class="title-button" id="btnTitleX" onclick="titlebarX_click()">
            <svg width="20" height="20">
            <line stroke="#fff" stroke-width="1" x1="6" y1="6" x2="14" y2="14" shape-rendering="crispEdges" />
            <line stroke="#fff" stroke-width="1" x1="6" y1="14" x2="14" y2="6" shape-rendering="crispEdges" />
            </svg>
        </div>
    
        <div class="title-button" id="btnTitleMax" onclick="titlebarMax_click()">
            <svg width="20" height="20">
            <rect stroke="#fff" stroke-width="1" fill="none" x="6" y="6" width="8" height="8" shape-rendering="crispEdges" />
            </svg>
        </div>
    
        <div class="title-button" id="btnTitleMin" onclick="titlebarMin_click()">
            <svg width="20" height="20">
                <line stroke="#fff" stroke-width="1" x1="6" y1="14" x2="14" y2="14" shape-rendering="crispEdges" />
            </svg>
        </div>
    </div>
</script>